
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=League+Spartan:wght@300&display=swap');


#content  { 
    max-width: 1600px;
    margin: 0 auto;
}

nav a { 
    text-align: center;
}
#hero-msg h1, #hero-msg h4 { 
    text-align: center;
}
.button-box { 
    text-align: center;
}
main section{ 
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color: #f8f8f7;
    font-family: "Chewy"; 
}
header {
    background-color: #2a9d8f; 
}
nav a:hover  {
    background-color: #e9c46a ; 
    text-decoration:none
}
.book, .join  {
    background-color: #e9c46a ;
    text-decoration:none;
    font-size: 18px;
}
.book:hover, .join:hover  {
    background-color: #2a9d8f; 
}
#background  {
    background-color: #e9c46a; 
}
.msg  {
    background-color: #2a9d8f;
    font-size: 1.5em ;

}
footer  {
    background-color: #2a9d8f; 
    text-decoration:none
}

.logo {
    width: 80px; 
}

#hero-img {
    width: 100%; 
}

footer p {
    font-size: 1.2em;
    text-align: left;
}    

footer p a:hover {
    text-decoration: underline;
}    

p {
    color: #f8f8f7;
}

h2 {
    color: #f8f8f7;
}

.home-title{
    font-family: "Chewy";
    font-size: 2em;
}

.msg p {
    font-family: "League Spartan";
    font-size: 8em;
}
