body{
    background-color: black;
    padding-bottom: 200px;
    
}

.top{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#puente{
    width: 400px;
    display: grid;
    grid-column: 2/5;

}

.boxes{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
