@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap);

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #faed26   ;
    --secondary-color: black ;
    --accent1-color: white;
    --accent2-color: #2a9d8f;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Playfair Display;
    --paragraph-font: Montserrat;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #faed26;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #5a5560; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #2a9d8f ;
    --nav-link-color:white ;
    --nav-background-color: black ;
    --nav-hover-link-color: white;
    --nav-hover-background-color:#faed26 ;
}

#content  { 
    max-width: 1200px;
    margin: 0 auto;
}
/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
nav a { 
    text-align: center;
    padding: 35px;
    color: white;
}

nav a:hover  {
    background-color: #faed26 ; 
    text-decoration:none;
    padding-top: 0;
    border-radius: 5px;
}

#logo_link {
    padding-top: 5 px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 125px; 
}

nav {
    display: flex;
    justify-content: space-around;
}

header {
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
}


/****************************************************************
*
* Default tag properties *
*
*****************************************************************/
main{
    display: grid;
    grid-template-columns: repeat(10,1fr) ;
}

main section{ 
    text-align: center;
    
}

#top-img{
    width: 100%;
}

body {
    background-color: white;
    font-family: "Playfair Display","Arial","Futura";
    font-size: 22px;
    margin: 0;
    padding: 0;
}


h2,h3 {
    font-size: 1.5em;
    color: #faed26;

}

h4{
    
    color:#faed26 ;
    border: 10px solid #faed26 ;
}



h2{
    text-decoration: underline
   
}

h1{
    font-size: 1.5em;
    border: 10px solid #2a9d8f;
    padding: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 100px;

}


p{
    font-family: Montserrat;
    font-size: 1em;
    color: white;
}


#top-msg { 
    font-size: 15px;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 50%;
    border: 8px solid #faed26;
    width: 150%;
    margin-left: 50px;
    margin-bottom: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

h4{   
    color:#faed26 ;
    border: 10px solid #faed26 ;
}


#top {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#top-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}



.linda1{
    width: 475px;
    grid-column: 1/5;
    grid-row: 2/5;
    margin-left: 20px;
    margin-bottom: 45px;
    border: 15px solid #faed26;

   

}
.text1{
    background-color: #2a9d8f;
    font-size: 18px ;
    padding: 35px;
    grid-column: 5/10;
    grid-row: 1/5;
    height: 400px;  
    margin-left: 20px; 
}

.tres1{
    width: 475px;
    grid-column: 1/5;
    grid-row: 8/10;
    z-index: 1;
    margin-left: 20px;
    margin-top: 40px;
    border: 15px solid #faed26;

}
.text2{
    background-color: #2a9d8f;
    font-size: 18px ;
    padding: 35px;
    grid-column: 5/10;
    grid-row: 7/11;
    height: 390px;
    margin-top: 40px; 
    margin-left: 20px;
}
.campo1{
    width: 475px;
    grid-column: 1/5;
    grid-row: 14;
    z-index: 1;
    margin-left: 20px;
    border: 15px solid #faed26;
    margin-top: 50px;
    
}

.text3{
    background-color: #2a9d8f;
    font-size: 18px ;
    padding: 35px;
    grid-column: 5/10;
    grid-row: 13/16;
    height: 390px;
    margin-top: 60px;
    margin-left: 20px;
   
}

/****************************************************************
*
* Footer *
*
*****************************************************************/



footer  {
    
    background-color: #faed26; 
    text-decoration:none;
    padding: 10px ;
    margin-top: 100px; 
    
}

footer p {
        margin-top:15px;
        text-align:center;
        font-size:30px;
        color:black;
        margin-bottom:0;
        
      }


     